In [5]:
# Regression by tensorflow

In [ ]:
import tensorflow as tf

In [ ]:
!pip install seaborn

In [3]:
from __future__ import absolute_import, division, print_function
import pathlib
import pandas as pd
import seaborn as sns

from tensorflow import keras
from tensorflow.keras import layers

In [4]:
print(tf.__version__)

2.9.2

In [6]:
# Get Auto dataset

In [7]:
# Download data

In [10]:
dataset_path = keras.utils.get_file("auto-mpg.data", "https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
30286/30286 [==============================] - 0s 0us/step

In [13]:
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                             'Acceleration', 'Model Year', 'Origin' 
                            ]

In [14]:
raw_dateset = pd.read_csv(dataset_path, names=column_names,
                                            na_values="?", comment='\t',
                                            sep=" ", skipinitialspace=True)

In [15]:
dataset = raw_dateset.copy()

In [16]:
dataset.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [17]:
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [18]:
dataset  = dataset.dropna()

In [19]:
origin = dataset.pop('Origin')

In [25]:
dataset['USA'] = (origin == 1) * 1.0
dataset['Europe'] = (origin == 2) * 1.0
dataset['Japan'] = (origin == 3) * 1.0
dataset.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,USA,Europe,Japan
393,27.0,4,140.0,86.0,2790.0,15.6,82,1.0,0.0,0.0
394,44.0,4,97.0,52.0,2130.0,24.6,82,0.0,1.0,0.0
395,32.0,4,135.0,84.0,2295.0,11.6,82,1.0,0.0,0.0
396,28.0,4,120.0,79.0,2625.0,18.6,82,1.0,0.0,0.0
397,31.0,4,119.0,82.0,2720.0,19.4,82,1.0,0.0,0.0